body{
    font-family: 'Segoe UI', sans-serif;
    color: #fff;
    background: linear-gradient(135deg, #1f1c2c, #928dab);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
    
}
.card{
    background: rgb(255, 255, 255,0.1);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}
.card:hover{
    transform: scale(1.03);

}
.card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-bottom: 16px;
}

h2{
    margin: 10px 0px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

}

button{
    background: #2f2658bb;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    transition: background 0.3s;
}

button:hover{
    background: #1f1c2c;
}

.type.normal { background: #bdbdbd; color: #000; }
.type.electric { background: #f7d02c; color: #000; }
.type.fire { background: #ee8130; }
.type.ground { background: #833900; }
.type.rock { background: #e9d45f; color: #000; }
.type.water { background: #6390f0; }
.type.grass { background: #7ac74c; }
.type.bug { background: #729f3f; }
.type.flying { background: #3dc7ef; }
.type.ice { background: #9be9ff; color: #000; }
.type.poison { background: #9e0a72; }
.type.fairy { background: #ff87db; }
.type.fighting { background: #d33333; }
.type.psychic { background: #aa0088; }
.type.steel { background: #616161; }
.type.ghost { background: #313d70; }
.type.dark { background: #222222; }
.type.dragon { background: #3f23bb; }
